body, html, #root {
  height: 100%;
  margin: 0;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.question-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
}

.question-navigation h2 {
  margin-bottom: 10px;
}

.question-navigation .button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.question-navigation .button:hover {
  background-color: #2980b9;
}

.question-navigation .question-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.question-navigation .question-list .question-item {
  width: 50px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #e0e0e0;
  margin: 2px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.question-navigation .question-list .question-item:hover {
  background-color: #c0c0c0;
}

.question-navigation .question-list .question-item.active {
  background-color: #3498db;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
  height: 100%;
  overflow-y: auto;
}

.question-block {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  padding: 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #c0c0c0;
}

.option.correct.selected,
.option.correct {
  background-color: #8ed68e;
}

.option.incorrect.selected {
  background-color: #ff7f7f;
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.justification {
  margin-top: 20px;
}

.justification p {
  margin-bottom: 10px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.next-button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}
